// RESETTING HTML

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@200;300&display=swap");

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

h1 {
	margin: 0;
	font-family: josefin sans, sans-serif;
}

h3,
p {
	margin: 0;
	font-family: Alata, sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

// REUSABlE CSS
// Colors
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Dark-Gray: hsl(0, 0%, 55%);
$Very-Dark-Gray: hsl(0, 0%, 41%);

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 15px;
}

// HEADER
header {
	padding: 2rem 1.5rem;
	width: 100%;
	height: 100vh;
	position: relative;
	background-repeat: no-repeat;
	background-image: url(/images/mobile/image-hero.jpg);
	background-size: cover;
	color: $White;
	margin-bottom: 6rem;
}
.menu-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
}
ion-icon {
	font-size: 2rem;
}

@media screen and (max-width: 728px) {
	.nav-menu {
		padding: 2rem 1.5rem;
		color: $White;
		background: $Black;
		font-size: 1.5em;
		position: absolute;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100vh;
		transition: 0.5s ease-in;
	}
}

.show-menu {
	right: 0;
}

.menu-items {
	text-transform: uppercase;
	font-family: josefin sans, sans-serif;
	padding: 5rem 0;
}

.nav-link {
	margin-bottom: 2rem;
	a {
		color: $Dark-Gray;
		&:hover {
			color: $White;
		}
	}
}
.header-text {
	margin-top: 10rem;
	text-transform: uppercase;
	border: 1.7px $White solid;
	padding: 1rem;
	font-size: 1.3rem;
	font-family: Alata, sans-serif;
	font-weight: 300;
	span {
		display: block;
	}
}

// MAIN
// SECTION 1
.section1 {
	padding: 0 2rem;
}
.section1-image {
	margin: 2rem 0;
}
.section1-content {
	padding: 2rem 4rem;
	text-align: center;
	h1 {
		text-transform: uppercase;
		font-size: 2.2rem;
	}
	p {
		margin-top: 1.5rem;
		line-height: 2;
		color: $Dark-Gray;
	}
}
// SECTION 2
.section2 {
	margin: 2rem 0;
	padding: 2rem;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1 {
		text-align: center;
		font-size: 2rem;
		margin-bottom: 2rem;
	}

	span {
		display: block;
	}
}

.section2-images {
	display: grid;
	grid-template-columns: 100%;
	gap: 2.5rem;
	margin-bottom: 1.5rem;
}
.section2-image {
	position: relative;
	transition: 0.3s ease-in;

	&:hover {
		transform: scale(1.05);
		box-shadow: 15px 15px 20px $Dark-Gray;
	}
	a {
		position: absolute;
		left: 1rem;
		bottom: 1rem;
		color: $White;
		font-family: josefin sans, sans-serif;
		font-size: 2rem;
	}
}

button {
	padding: 5px 40px;
	text-transform: uppercase;
	font-family: Alata, sans-serif;
	background: $White;
	border: 2px solid $Black;
	letter-spacing: 2px;
	cursor: pointer;
	transition: 0.3s ease-in;
	&:hover {
		color: $White;
		background: $Black;
	}
}

// FOOTER
footer {
	background: $Black;
	color: $White;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2rem 0;
}
.footer-items {
	display: flex;
	flex-direction: column;
	margin: 2rem 0;
}
.footer-item {
	color: $Dark-Gray;
	font-family: josefin sans, sans-serif;
	margin-bottom: 1.5rem;
	&:hover {
		color: $White;
	}
}

.socials {
	margin-bottom: 1rem;
	a {
		color: $White;
		margin-right: 20px;
	}
	ion-icon {
		transition: 0.3s ease-in;
	}
	ion-icon:hover {
		transform: scale(1.1);
	}
}

.copyrights {
	color: $Dark-Gray;
	cursor: pointer;
}

// RESPONSIVENESS

@media screen and (min-width: 728px) {
	// header
	header {
		padding: 0 6.5rem;
		height: 100vh;
		background: url(/images/desktop/image-hero.jpg);
		.menu-btn {
			display: none;
		}
	}
	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.nav-menu {
		.menu-header {
			display: none;
		}
		.menu-items {
			display: flex;
			flex-direction: row;
		}
		.nav-link {
			margin-left: 1rem;
			height: auto;
			a {
				color: $White;
				position: relative;
				padding-bottom: 5px;
				&::after {
					transition: 2s ease-in;
				}
				&:hover::after {
					content: "";
					position: absolute;
					left: 25%;
					right: 25%;
					bottom: 0;
					width: 50%;
					border: 1px solid $White;
				}
			}
		}
	}
	.header-text {
		margin-top: 0;
		width: 65%;
		.remove-block {
			display: inline;
		}
	}
	// section1
	.section1 {
		padding: 2rem 6.5rem;
		display: flex;
		flex-direction: row;
		position: relative;
		
		img {
			width: 700px;
		}
	}

	.section1-content {
		position: absolute;
		top: 270px;
		right: 70px;
		z-index: 100;
		width: 650px;
		background: $White;
		text-align: start;
	}
	// section2

	.section2-images {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	//footer
	footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 2rem 6.25rem;
		.footer-section1 {
			text-align: start;
		}
		.footer-section2 {
			text-align: end;
		}
		.footer-items {
			display: flex;
			flex-direction: row;
			margin: 1rem 0 0;
		}
		.footer-item {
			margin-right: 1rem;
		}
	}
}
@media screen and (min-width:1200px) {
	.section1-content{
		right: 200px;
	}
}
